@use '~/assets/scss/globals';

.root {
	display: inline-block;
	position: relative;

	outline: none;
	border-radius: globals.$borders_radius-base;

	box-shadow: globals.shadows_neumorphism-inverted(globals.$colors_air);

	&:hover {
		.content {
			.hoverIcon {
				opacity: 1;
			}

			.icon {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	&:focus {
		.content {
			box-shadow:
				globals.shadows_neumorphism(globals.$colors_mars),
				0 0 0 4px globals.$colors_mars;
		}
	}
}

.content {
	display: flex;
	align-items: baseline;
	justify-content: center;
	text-align: center;
	padding: globals.s(2) globals.s(8);

	font-size: globals.$typography_font-size-24;
	font-weight: globals.$typography_font-weight-semibold;

	color: globals.$colors_ice;
	border-radius: globals.$borders_radius-base;
	background-color: globals.$colors_mars;
	box-shadow: globals.shadows_neumorphism(globals.$colors_mars);
	text-shadow: globals.$shadows_text;

	@media screen and (max-width: globals.$breakpoints_viewport-7) {
		padding: globals.s(2) globals.s(6);

		font-size: globals.$typography_font-size-20;
	}

	@media screen and (max-width: globals.$breakpoints_viewport-4) {
		padding: globals.s(2) globals.s(5);

		font-size: globals.$typography_font-size-18;
	}

	&::after {
		content: "";

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		opacity: 0.5;
		border-radius: globals.$borders_radius-base;
		box-shadow: globals.shadows_soft(globals.$colors_mars);

		transition: opacity globals.$animations_hover;
	}
}

.iconWrapper {
	position: relative;

	width: globals.s(4);
	height: globals.s(4);

	@media screen and (max-width: globals.$breakpoints_viewport-7) {
		width: globals.s(3);
		height: globals.s(3);
	}
}

.icon,
.hoverIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.iconBefore {
	margin-right: globals.s(1);

	transform: scaleX(-1);
}

.iconAfter {
	margin-left: globals.s(1);
}

.hoverIcon {
	opacity: 0;
}

.button--secondary {
	box-shadow: globals.shadows_neumorphism-inverted(globals.$colors_night);

	.content {
		color: globals.$colors_dark;
		border-radius: globals.$borders_radius-base;
		background-color: globals.$colors_ice;
		box-shadow: globals.shadows_neumorphism(globals.$colors_ice);

		&::after {
			box-shadow: globals.shadows_soft(globals.$colors_ice);
		}
	}

	&:focus {
		.content {
			box-shadow:
				globals.shadows_neumorphism(globals.$colors_ice),
				0 0 0 4px globals.$colors_ice;
		}
	}
}
