@use '~/scss/globals';

.menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	background-color: globals.$colors_dirty-white;
}

.timeline {
	flex-grow: 1;
}

.info {
	display: flex;
	justify-content: space-between;
	padding: globals.spacing_s(5) globals.spacing_s(8);

	border-top: 0.1rem solid globals.$colors_jungle-green-light;

	background-color: globals.$colors_pure-white;
}

.section {
	max-width: 45rem;

	& + .section {
		margin-left: globals.spacing_s(12);
	}
}

.title {
	margin-bottom: globals.spacing_s(3);

	font-family: globals.$typography_font-family-secondary;
	font-size: globals.$typography_font-size-30;
	text-align: left;

	color: globals.$colors_faded-orange;
}

.content {
	font-size: globals.$typography_font-size-18;
	text-align: left;

	color: globals.$colors_jungle-green-faded;
}

.link {
	position: relative;

	display: inline-block;
	margin-bottom: globals.spacing_s(1);

	font-size: globals.$typography_font-size-18;

	color: globals.$colors_jungle-green-faded;

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;

		width: 100%;
		height: 0.1rem;

		background-color: globals.$colors_jungle-green-faded;
	}
}

.madeby {
	display: inline-block;
	margin-bottom: globals.spacing_s(1);
}

.socials {
	margin-top: globals.spacing_s(2);
}

.social {
	color: globals.$colors_jungle-green-faded;

	& + .social {
		margin-left: globals.spacing_s(1);
	}
}
