@use '~/assets/scss/globals';

.year,
.population,
.instructions {
	position: fixed;
}

.year {
	top: globals.s(3);
	left: globals.s(4);
}

.population {
	top: 20%;
	left: 50%;

	transform: translate3d(-50%, -50%, 0);
}

.instructions {
	top: 50%;
	left: 0;
	width: 100%;

	display: block;
	text-align: center;

	font-size: globals.$typography_font-size-18;
	color: globals.$colors_dark;
}
