@import '~assets/scss/globals';

.container {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.year,
.population,
.instructions {
	position: fixed;
}

.year {
	top: s(3);
	left: s(4);
}

.population {
	top: 20%;
	left: 50%;

	transform: translate3d(-50%, -50%, 0);
}

.instructions {
	top: 50%;
	left: 0;
	width: 100%;

	display: block;
	text-align: center;

	font-size: $font-size-18;
	color: $jungle-green-light;
}
