$font-weight-normal: 400;
$font-weight-semibold: 600;

$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'Recoleta', serif;

$font-size-14: 14px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-36: 36px;
$font-size-48: 48px;
$font-size-72: 72px;

$line-height-base: 1.5;
