// Count
.count-enter-active,
.count-leave-active {
	transition:
		opacity 0.4s,
		transform 0.4s ease;
}
.count-enter {
	opacity: 0;
	transform: translate3d(0, 30%, 0);
}
.count-leave-to {
	opacity: 0;
	transform: translate3d(0, -30%, 0);
}
