@use '~/assets/scss/globals';

:root {
	overflow-x: hidden;

	color: globals.$colors_dark;
	background-color: globals.$colors_air;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: globals.$typography_font-family-primary;
	line-height: globals.$typography_line-height-base;
	text-align: center;
}

:root,
body,
#__nuxt,
#__layout,
#__default {
	height: 100%;
}
