@use '~/scss/globals';

// Poppins
@font-face {
	font-family: "Poppins";
	font-weight: globals.$typography_font-weight-normal;
	font-style: normal;
	src:
		url("~assets/fonts/poppins/regular/poppins-regular.woff2") format("woff2"),
		url("~assets/fonts/poppins/regular/poppins-regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	font-weight: globals.$typography_font-weight-semibold;
	font-style: normal;
	src:
		url("~assets/fonts/poppins/bold/poppins-bold.woff2") format("woff2"),
		url("~assets/fonts/poppins/bold/poppins-bold.woff") format("woff");
	font-display: swap;
}

// Recoleta
@font-face {
	font-family: "Recoleta";
	font-weight: globals.$typography_font-weight-normal;
	font-style: normal;
	src:
		url("~assets/fonts/recoleta/recoleta-regular.woff2") format("woff2"),
		url("~assets/fonts/recoleta/recoleta-regular.woff") format("woff");
	font-display: swap;
}
