@use '~/scss/globals';

h1 {
	font-family: globals.$typography_font-family-secondary;
	font-size: globals.$typography_font-size-72;
	font-weight: globals.$typography_font-weight-normal;
}

h2 {
	font-size: globals.$typography_font-size-24;
	font-weight: globals.$typography_font-weight-normal;
}
