@use '~/scss/globals';

html {
	height: 100%;

	color: globals.$colors_jungle-green;
	background-color: globals.$colors_sky-blue;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: globals.$typography_font-family-primary;
	line-height: globals.$typography_line-height-base;
	text-align: center;
}

html,
body,
a,
button {
	cursor: url('~assets/images/ui/cursor.png'), auto;
	cursor: -webkit-image-set(url('~assets/images/ui/cursor.png') 1x, url('~assets/images/ui/cursor-x2.png') 2x), auto;
}

html,
body,
#__nuxt,
#__layout {
	height: 100%;
}
