@use '~/scss/globals';

.hamburger {
	position: relative;
	z-index: 10;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 2.4rem;
	height: 1.6rem;
}

.line {
	display: inline-block;
	height: 0.2rem;
	background-color: globals.$colors_future-dark;
	border-radius: globals.$borders_radius-round;
}

.line--top,
.line--bottom {
	width: 100%;
}

.line--middle {
	width: 75%;
}
