@use '~/assets/scss/globals';

.c-cursor {
	position: fixed;
	top: 0;
	left: 0;

	pointer-events: none;

	width: globals.s(4);
	height: globals.s(4);

	border: 2px solid globals.$colors_mars;
	border-radius: globals.$borders_radius-round;
	opacity: 0;
}
