@use '~/assets/scss/globals';

.title {
	margin-top: globals.s(2);

	color: transparent;

	@media screen and (max-width: globals.$breakpoints_viewport-4) {
		margin-top: globals.s(1);
	}
}

.subtitle {
	order: -1;

	color: globals.$colors_main;
}

.titleWord,
.subtitleWord {
	display: inline-block;

	opacity: 0;
}

.cta {
	opacity: 0;
}

.cloud {
	position: fixed;
	z-index: globals.$z-index_back;

	opacity: 0.5;
	filter: drop-shadow(globals.$shadows_cloud);
}

.cloudAnimate {
	animation-direction: alternate;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: floating;
	animation-timing-function: ease-in-out;
}

.cloud1 {
	top: 30%;
	left: 3%;

	width: 96px;
}

.cloud2 {
	top: 6%;
	left: 8%;

	width: 64px;

	animation-delay: 0.5s;
}

.cloud3 {
	top: 10%;
	left: 40%;

	width: 144px;

	animation-delay: 1s;
}

.cloud4 {
	top: 8%;
	left: 70%;

	width: 96px;

	animation-delay: 1.5s;
}

.cloud5 {
	top: 20%;
	left: 90%;

	width: 120px;

	animation-delay: 2s;
}

.bird {
	position: fixed;
	width: 72px;
}

.birdAnimate {
	animation-direction: alternate;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: floating;
	animation-timing-function: ease-in-out;
}

.bird1 {
	top: 20%;
	left: 8%;
}

.bird2 {
	top: 10%;
	left: 85%;

	animation-delay: 1s;
}

// Animations
@keyframes floating {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, 20px, 0);
	}
}
