@use '~/assets/scss/globals';

.l-container {
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% - #{globals.s(4)});
	height: 100%;
	margin: 0 auto;
}

.l-container__body {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.l-container__footer {
	margin: globals.s(4) 0;
}

.l-container--max {
	max-width: 900px;
}
