@use '~/assets/scss/globals';

.l-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: calc(100% - #{globals.s(4)});
}

.l-container--max {
	max-width: 900px;
}
