@use '~/scss/globals';

.population {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.label {
	font-weight: globals.$typography_font-weight-semibold;
	font-size: globals.$typography_font-size-18;
	color: globals.$colors_future-dark;
}

.content {
	display: block;
	overflow: hidden;
	font-size: globals.$typography_font-size-48;
	color: globals.$colors_future-dark;
}

.char {
	display: inline-block;
	will-change: transform;

	transition: color globals.$animations_long;
}

.is-future {
	.content {
		color: globals.$colors_dirty-white;
	}
}
