@use '~/scss/globals';

.year {
	display: flex;
	align-items: baseline;
}

.label {
	font-weight: globals.$typography_font-weight-bold;
	font-size: globals.$typography_font-size-18;
	color: globals.$colors_jungle-green-light;
	margin-right: globals.spacing_s(1.5);
}

.content {
	font-size: globals.$typography_font-size-36;
	color: globals.$colors_jungle-green;
	overflow: hidden;

	transition: color globals.$animations_long;
}

.is-future {
	.content {
		color: globals.$colors_dirty-white;
	}
}
